DATABASE_CONNECTION_STRING="postgres://<app-name>:<db-password>@localhost:5432/<app-name>"
ENVIRONMENT="development"
SERVER_HOST="localhost:3000"
VITE_BASE_URL="http://localhost:3000"
POSTGRES_USER="<app-name>"
# Generate with: openssl rand -base64 12
POSTGRES_PASSWORD=""