services:
  smith-app:
    build:
      context: .
    environment:
      DATABASE_CONNECTION_STRING: ${DATABASE_CONNECTION_STRING}
      ENVIRONMENT: ${ENVIRONMENT}
      BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
    depends_on:
      smith-postgres:
        condition: service_started
  smith-postgres:
    image: postgres:18-alpine3.23
    restart: on-failure
    environment:
      POSTGRES_USER: "smith"
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - smith-postgres_data:/var/lib/postgresql/data

volumes:
  smith-postgres_data: